.navbar {
	color: #FF8800;
	background-color: black;
}
body {
	background-color: black;
	color: #FF8800;
	font-family: Arial;
}
h1 {
	text-align: center;
	font-weight: bold;
}
.nav-item {
	background-color: black;
}
.nav-link {
	color: #FF8800;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link:focus {
    color: #FF0000;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #FF0000;
}
.container-fluid {
	background-color: black;
}
.dropdown-menu {
	background-color: black;
}
.dropdown-item {
	color: #FF8800;
	background-color: black;
}
.dropdown-item:hover {
	color: #FF0000;
	background-color: black;
}
.navbar-brand {
	color: #FF8800;
}
.navbar-collapse {
	background-color: black;
}
a:hover {
    color: #FF0000;
}
a {
    color: #FF8800;
}
table {
	border: 2px solid #FF8800;
	width: 100%;
	font-size: 25px;
}
tr {
	border: 2px solid #FF8800;
}
td {
	border: 2px solid #FF8800;
}